<div class="container m-auto max-w-3xl px-4 pt-8 pb-4">
  <h1 class="text-4xl font-bold text-red-800 font-serif mb-10 text-center">RubyJobs.pl</h1>
  <div class="flex justify-between">
    <div class="flex-1 text-center">
      <p class="border-b-4 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 1</p>
      <p class="text-2xl text-gray-700">Dodaj<span class="hidden sm:inline"> ogłoszenie<span></p>
    </div>
    <div class="flex-1 text-center">
      <p class="border-b-4 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 2</p>
      <p class="text-2xl text-gray-700">Podgląd<span class="hidden sm:inline"> ogłoszenia<span></p>
    </div>
    <div class="flex-1 text-center">
      <p class="border-b-4 border-red-600 text-red-600 font-bold pb-3 mb-3 text-xl">Krok 3</p>
      <p class="text-2xl text-gray-700 font-sans">Podsumowanie</p>
    </div>
  </div>
</div>

<div class="container m-auto max-w-3xl px-4 mt-6">
  <div>
    <%= render partial: 'job_offers/job_offer', locals: {job_offer: @job_offer} %>
  </div>
</div>

<div class="container m-auto max-w-3xl px-4 mt-6">
  <h2 class="text-2xl text-red-600 border-b pb-2 mb-5">Informacje dodatkowe</h2>
  <div class="mb-8">
    <ul class="list-disc">
      <li class="ml-4">Ogłoszenie będzie automatycznie przedłużone i odświeżone po <%= @job_offer.refresh_time_in_days %> dniach.</li>
      <li class="ml-4">W przypadku zakończenia rekrutacji proszę o kontakt na adres <a href="mailto:marcin@rubyjobs.pl">marcin@rubyjobs.pl</a></li>
    </ul>
  </div>

  <div class="flex justify-between border-t pt-8">
    <%= link_to "Wstecz", job_offers_preview_path, class: "text-red-600 py-4 text-xl font-bold" %>
    <%= link_to "Wyślij", job_offers_submissions_path(token: @job_offer.token), method: :post, class: "bg-red-600 text-white px-8 py-4 text-xl font-bold" %>
  </div>
</div>


