<% if @job_offer.errors[attribute_name].present? %>
  <ul class="ml-3 pb-2 list-disc">
    <% @job_offer.errors.messages[attribute_name].each do |message| %>
      <li class="text-red-500 text-xs"><%= message %></li>
    <% end %>
  </ul>
<% end %>
