<div class="bg-gray-100 py-10">
  <div class="container m-auto md:grid xl:grid-cols-7 md:grid-cols-3 md:gap-8 px-5">
    <%= render 'filters_sidebar' %>

    <div class="xl:col-span-5 md:col-span-2">
      <%= render @job_offers %>
    </div>
  </div>
</div>
