<p>Cześć.<br/>
Dziękuję za subskrypcję mojego cotygodniowego przeglądu ofert pracy dla programistów Rubiego.</p>

<p>Znajdziesz tu informację o ofertach z widełkami i bez pośredników.<br/>
Przegląd wysyłam w każdy poniedziałek.</p>

<p>Pozdrawiam,<br/>
Marcin Doliwa<br/>
<%= link_to "RubyJobs.pl", root_url %>

<p>ps. w każdej chwili możesz wyłączyć otrzymywanie tego przeglądu, wystarczy, że wyślesz mi info na maila.</p>
