<div class="container m-auto pt-8 px-5 justify-between">
  <div class="text-lg text-red-800 font-bold mr-4">RubyJobs.pl</div>
  <div class="flex items-baseline justify-between">
    <div class="flex flex-col md:flex-row">
      <p class="mr-4"><a href="<%= "#{root_url}blog" %>" data-turbolinks="false">Blog</a></p>
    </div>
    <div>
      <p class="text-lg">Kontakt</p>
      <a href="mailto:marcin@rubyjobs.pl">marcin@rubyjobs.pl</a>
    </div>
  </div>
</div>
